<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sundayting.com.mine">

    <application>
        <activity android:name=".CollectArticleActivity" />
        <activity android:name=".myarticle.MyArticleActivity" />
    </application>

</manifest>